* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 980px;
	min-height: 100vh;
	margin: 0 auto;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	overflow: hidden;
	padding: 50px;
}

.header, .footer {
	padding: 20px;
	background: violet;
	border: 1px solid #000;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
}
/******/

.header,
.footer,
.wrapper-inner {
	margin: 40px 0;
}

.left-sidebar,
.content,
.right-sidebar {
	padding: 20px;
	border: 1px solid #000;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.left-sidebar {
	background-color: yellow;
	float: left;
	width: 20%;
	margin-right: 20px;
}

.right-sidebar {
	background-color: lightblue;
	float: right;
	width: 20%;
	margin-left: 20px;
}

.content {
	background-color: red;
}

.footer {
	clear: both;
}





